
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
    <div class="container">

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="dashboard" asp-action="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="carpool" asp-action="Index">Car-Pool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="carpool" asp-action="JoinOpportunity">Car-Pool_Joined_Opportunities</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr />
@if (TempData["error"] != null)
{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i>Failed</h4>
                Delete Failed!
            </div>
        </div>
    </div>
}
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Profile Information</h2>
    </div>

    <div class="col-3 offset-3">

    </div>
    <div class="col-12 border p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phone</th>
                    <th>Email</th>


                </tr>
            </thead>
            @foreach (var item in ViewBag.PersonalDetail)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>

                    <td>
                        <a asp-controller="dashboard" asp-action="editprofile"
                           asp-route-id="@item.Id"
                           class="btn btn-success btn-sm text-white">Update</a> <span>|</span>
                        <a asp-controller="dashboard" asp-action="deleteprofile"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('You are about to delete your profile! Are you sure?')">Delete</a>
                    </td>
                   
                </tr>

            }
        </table>
    </div>
</div>